<!--Body-->
<div class="accordion" id="accordionExample">
    
    <div class="card flex-align">
      <div class="card-header bg-color" id="headingOne">
        <h5 class="mb-0">
          <button class="btn collapsed tx-color-body" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            VIOLÊNCIA FÍSICA
          </button>
        </h5>
      </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body bg-secondary tx-color-body" style="text-align: center;">
            Entendida como qualquer conduta que ofenda a integridade ou saúde corporal da mulher. Tais como: Espancamento, atirar objetos, sacudir e apertar os braços, estrangulamento ou sufocamento, lesões com objetos cortantes ou perfurantes, ferimentos causados por queimaduras ou armas de fogo, tortura.
        </div>
      </div>
    </div>

    <div class="card flex-align">
      <div class="card-header bg-color" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn collapsed tx-color-body" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            VIOLÊNCIA PSICOLÓGICA
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body bg-secondary tx-color-body" style="text-align: center;">
            É considerada qualquer conduta que: cause dano emocional e diminuição da autoestima; prejudique e perturbe o pleno desenvolvimento da mulher; ou vise degradar ou controlar suas ações, comportamentos, crenças e decisões. Tais como: ameaças, constrangimento, humilhação, manipulação, Isolamento, vigilância constante, insultos, chantagem, exploração, limitar direito de ir e vir, perseguição contumaz, ridicularização, tirar liberdade de crença, distorcer e omitir fatos (GASLIGHTING).
        </div>
      </div>
    </div>

    <div class="card flex-align">
      <div class="card-header bg-color" id="headingThree">
        <h5 class="mb-0">
          <button class="btn collapsed tx-color-body" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            VIOLÊNCIA SEXUAL
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body bg-secondary tx-color-body" style="text-align: center;">
            Trata-se de qualquer conduta que constranja a presenciar, a manter ou a participar de relação sexual não desejada mediante intimidação, ameaça, coação ou uso da força. Tais como: Estupro, obrigar a mulher a fazer atos sexuais que causam desconforto ou repulsa, impedir o uso de métodos contraceptivos ou forçar a mulher a abortar, forçar matrimônio, forçar gravidez, forçar prostituição, limitar ou anular o exercício dos direitos sexuais e reprodutivos da mulher.
        </div>
      </div>
    </div>

    <div class="card flex-align">
        <div class="card-header bg-color" id="headingFour">
          <h5 class="mb-0">
            <button class="btn collapsed tx-color-body" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                VIOLÊNCIA PATRIMONIAL
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body bg-secondary tx-color-body" style="text-align: center;">
            Entendida como qualquer conduta que configure retenção, subtração, destruição parcial ou total de seus objetos, instrumentos de trabalho, documentos pessoais, bens, valores e direitos ou recursos econômicos, incluindo os destinados a satisfazer suas necessidades. Tais como: Controlar dinheiro, deixar de pagar pensão alimentícia, destruição de documentos pessoais, furto, extorsão ou dano, estelionato, privar bens ou recursos econômicos, causar danos propositais a objetos da mulher ou dos quais ela goste.
          </div>
        </div>
      </div>

      <div class="card flex-align">
        <div class="card-header bg-color" id="headingFive">
          <h5 class="mb-0">
            <button class="btn collapsed tx-color-body" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                VIOLÊNCIA MORAL
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
          <div class="card-body bg-secondary tx-color-body" style="text-align: center;">
            É considerada qualquer conduta que configure calúnia, difamação ou injúria. Tais como: Acusar mulher de traição, emitir juízos sobre conduta, fazer críticas mentirosas, expor a vida da vítima, reibaixar a mulher por meio de xingamentos que incidem sobre a sua índole, desvalorizar a vítima pelo seu modo de se vestir.
          </div>
        </div>
      </div>
  </div>

<!--/Body-->  
