<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-ligth bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
  <ul class="navbar-nav mr-auto d-flex align-items-center">
    <li class="nav-item active">
      <img src="https://i.imgur.com/bacm1iM.png" alt=" Imagem User" width="50px" height="50px" class="img-fluid">
     </li>
    
    <li class="nav-item dropdown">
      <a class="style-tx-navbar nav-link dropdown-toggle fs-16" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Violência contra mulher</a>
      
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="nav-link fs-12 style-tx-navbar" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contato</a>
        
        <a class="nav-link fs-12 style-tx-navbar" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resumo da Lei</a>
        
        <a class="nav-link fs-12 style-tx-navbar" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tipos de Violência</a>

      </div>
    </li>

</ul>

<ul class="navbar-nav ml-auto d-flex align-items-center">
    <li class="nav-item pl-3">
        <a class="m-0  fs-16 style-tx-danger">Ligue 180</a>
      </li>
</ul>

</div>
</nav>
<!--/Navbar-->
